{% extends 'layout.html' %}

{% block title %}
  Create Blog
{% endblock %}

{% block body %}
<div class="container"></div>
  <h1>Write a Blog</h1>
  <form class="form-group" method="post" action="/save_data">
    <label class="form-label for="username">Username:</label>
    <input type="text" id="username" name="username" class="form-control form-control-lg" required><br>
    <textarea id="blog_content" name="blog_content" rows="8" cols="50" placeholder="Write your blog here" required></textarea><br>
    <button type="submit" class="btn btn-success btn-lg gradient-custom-4 text-body">Submit</button>
  </form>
{% endblock %}
