{% extends 'layout.html' %}

{% block title %}
  Blog
{% endblock %}

{% block body %}
  <h1>Welcome to Blog</h1>
  <form action="{{ url_for('new_content') }}">
    <button class="btn btn-success btn-lg gradient-custom-4 text-body">Add New Blog</button>
  </form>
  <br><br>
  <div class="Content">
    <h1>Blog Content</h1>
    <table class="table">
      <thead>
        <tr>
          <th>User</th>
          <th>Content</th>
        </tr>
      </thead>
      <tbody>
        {% for data in datas %}
          <tr>
            <td>{{ data.username }}</td>
            <td>{{ data.blog_content }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}